<nav class="admin-nav" >
  <a class="admin-nav__link" href="/user">Start</a>
  <a class="admin-nav__link" href="/profile">Profile</a>
  <a class="admin-nav__link active-link" href="/admin">Admin</a>
</nav>

<section class="company-users">
  <h4 class="company-users__title">Company Users</h3>
  <div class="company-users__list">
    {{#each usersList}}
    <p class="collapse-container">
      <a
    class="btn btn-primary collapse-container__btn"
    data-bs-toggle="collapse"
    href="#id{{_id}}"
    role="button"
    aria-expanded="false"
    aria-controls="id{{_id}}"
    style="width: 90%"
  >
    Item: {{firstName}} | {{lastName}} | Status: {{status}}
  </a>
    </p>
    <div class="collapse collapse-container__inside" id="id{{_id}}">
      <div class="card card-body">
        <form class="user-edit-form" action="/user/edit" method="post">
          <p>{{firstName}} {{lastName}}</p>
          <p>{{email}}</p>
          {{#if (isPending this)}}
          <select name="status">
            <option value="Pending">Pending</option>
            <option value="Approved">Approved</option>
            <option value="Disapproved">Disapproved</option>
          </select>
          {{/if}}
          <select name="role">
            <option value="Employee"{{#if (isEmployee this)}}selected{{/if}}>Employee</option>
            <option value="Manager" {{#if (isManager this)}}selected{{/if}}>Manager</option>
            <option value="Admin" {{#if (isAdmin this)}}selected{{/if}}>Admin</option>
          </select>
          <input type="hidden" name="id" value="{{_id}}">
          <button type="submit">edit</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
</section>