<nav class="user-nav" >
  <a class="user-nav__link" href="/purchase-portal">Purchase Portal</a>
  <a class="user-nav__link" href="/profile">Profile</a>
</nav>
<div class="user-container">
   {{#if errorMessage}}
  <div class="text-bg-danger p-3 my-2 w-100 text-center">{{errorMessage}}</div>
  {{/if}}
<section class="requested-purchases">
  <h4 class="requested-purchases__title">Purchase requests</h3>
  <div class="request-purchases__list">
  <p class="collapse-container">
  <a
    class="btn 
    {{#if (isPending purchaseRequest)}}
    btn-warning 
    {{else if (isApproved purchaseRequest)}}
    btn-success
    {{else}}
    btn-danger
    {{/if}}
    collapse-container__btn"
    data-bs-toggle="collapse"
    role="button"
    aria-expanded="true"
    style="width: 90%"
  >
   Editing
  </a>

</p>
<div class="collapse collapse-container__inside show">
  <div class="card card-body">
    <form
      class="purchase-request-edit-form"
      action="/user/edit/{{purchaseRequest._id}}"
      method="post"
    >
      <strong>Item:</strong><input type="text" name="item" value="{{purchaseRequest.item}}">
      <strong>Cost:</strong><input type="number" min="0" step="0.01" name="cost" value="{{purchaseRequest.cost}}">
      <strong>Reason for request:</strong><textarea name="reason" cols="24">{{purchaseRequest.reason}} </textarea>
      <strong>Requested by:</strong> <output name="name">{{purchaseRequest.createdBy.firstName}} {{purchaseRequest.createdBy.lastName}}</output>
      <input name="id" type="hidden" value="{{purchaseRequest._id}}">
      <div>
       <input type="submit" value="Save Changes" class="btn btn-info purchase-request-edit-form__btn">
       <a href="/purchase-portal" class="btn btn-danger purchase-request-edit-form__btn">Cancel</a>

      </div>
      </label>
    </form>
  </div>
</div>
  </div>
</section>
</div>
