<nav class="user-nav" >
  <a class="user-nav__link active-link" href="/user">Start</a>
  <a class="user-nav__link" href="/profile">Profile</a>
</nav>
<div class="user-container">
<p class="collapse-container">
  <a
    class="btn btn-primary collapse-container__btn"
    data-bs-toggle="collapse"
    href="#newPurchaseRequest"
    role="button"
    aria-expanded="false"
    aria-controls="newPurchaseRequest"
  >
    Request new purchase
  </a>

</p>
<div class="collapse collapse-container__inside" id="newPurchaseRequest">
  <div class="card card-body">
    <form
      class="new-purchase-form"
      action="/user/newPurchase"
      method="post"
    >
      <label for="item">Item</label>
      <input type="text" name="item" id="item" />
      <label for="cost">Cost</label>
      <input type="text" name="cost" id="cost" />
      <label for="reason">Reason for request:</label>
      <textarea name="reason" id="reason" cols="24" >
      </textarea>
      <button class="new-purchase-form__btn">Submit</button>
    </form>
  </div>
</div>

<section class="requested-purchases">
  <h4 class="requested-purchases__title">Purchase requests</h3>
  <div class="request-purchases__list">
    {{#each purchaseRequests}}
  <p class="collapse-container">
  <a
    class="btn 
    {{#if (isPending this)}}
    btn-warning 
    {{else if (isApproved this)}}
    btn-success
    {{else}}
    btn-danger
    {{/if}}
    collapse-container__btn"
    data-bs-toggle="collapse"
    href="#id{{_id}}"
    role="button"
    aria-expanded="false"
    aria-controls="id{{_id}}"
    style="width: 90%"
  >
    Item: {{item}} | Cost: {{cost}} | Status: {{status}}
  </a>

</p>
<div class="collapse collapse-container__inside" id="id{{_id}}">
  <div class="card card-body">
    {{#if editPurchaseRequest}}
    <form
      class="purchase-request-edit-form"
      action="/user/edit"
      method="post"
    >
      <input name="item"><strong>Item:</strong> {{item}}</input>
      <input name="cost"><strong>Cost:</strong> {{cost}}</input>
      <input name="reason"><strong>Reason for request:</strong> {{reason}}</input>
      <input name="name"><strong>Requested by:</strong> {{createdBy.firstName}} {{createdBy.lastName}}</input>
      {{#if (isPendingAndIsUserManager this)}}
      <label><strong>Status:</strong>
      <select name="status">
        <option value="Pending" selected>Pending</option>
        <option value="Approved">Approved</option>
        <option value="Disapproved">Disapproved</option>
      </select>
      <input type="submit" name="isSubmitRequest" value="Submit" class="purchase-request-edit-form__btn">

      {{else if (isPendingAndIsUsersOwnRequest this ../currentUser)}}
       <input type="submit" name="isDeleteRequest" value="Delete" class="purchase-request-edit-form__btn">
      {{else}}
      <label><strong>Status:</strong>
      {{status}}
      {{/if}}
      <input name="id" type="hidden" value="{{_id}}">
      </label>
    </form>
    {{else}}
   <form
      class="purchase-request-form"
      action="/user/proccesPurchaseRequest"
      method="post"
    >
      <output name="item"><strong>Item:</strong> {{item}}</output>
      <output name="cost"><strong>Cost:</strong> {{cost}}</output>
      <output name="reason"><strong>Reason for request:</strong> {{reason}}</output>
      <output name="name"><strong>Requested by:</strong> {{createdBy.firstName}} {{createdBy.lastName}}</output>
      {{#if (isPendingAndIsUserManager this)}}
      <input type="submit" name="approveRequest" value="Approve" class="purchase-request-form__btn">
      <input type="submit" name="disapproveRequest" value="Disapprove" class="purchase-request-form__btn">

      {{else if (isPendingAndIsUsersOwnRequest this ../currentUser)}}
       <input type="submit" name="deleteRequest" value="Delete" class="purchase-request-form__btn">
      {{else}}
      <label><strong>Status:</strong>
      {{status}}
      {{/if}}
      <input name="id" type="hidden" value="{{_id}}">
      </label>
    </form>
    {{/if}}
     
  </div>
</div>
{{/each}}
  </div>
</section>
</div>
